- if @tournament
  %h1 Listing #{@tournament.name}'s Teams
- else
  %h1 Listing Teams
  
%ul.list-unstyled.list-inline.list-tournament-team
  - @teams.each do |team|
    %li
      = render :partial => "teams/simple_team", :locals => {:team => team}
      
      %br

      - if can? :update, team
        .links
          = link_to 'Show', team
          = link_to 'Edit', edit_team_path(team)
          = link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if can? :create, Team
  .links
    = link_to 'New Team', new_team_path
