%h1 Listing teams

- @teams.each do |team|
  = render :partial => "teams/team", :locals => {:team => team}
  
  = link_to 'Show', team
  = link_to 'Edit', edit_team_path(team)
  = link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Team', new_team_path
