.team
  .row
    %h2 
      %img{src: @team.main_image.url}
      #{@team.name}
    .col-md-3
    .col-md-6
      = render :partial => "shared/slide", :locals => {:class_name => "team_photos", :images => @team.team_photos.map { |e| e.image.url(:medium) }}
    .col-md-3

  .row
    .col-md-12
      .description
        = raw @team.description

  .row
    .col-lg-12
      %h2.page-header Players

      %p #{@team.players}

.links
  - if can? :update, @team
    = link_to 'Add Photos', new_team_photo_path(team_id: @team.id)
    \|
    = link_to 'Edit', edit_team_path(@team)
    \|
    
  = link_to 'Back', teams_path
