%h4
  Comments

%h4.comment-count 
  = pluralize post.comments.size, 'comment'

%ul
  - post.comments.each do |comment|
    %li.row
      = render :partial => "comments/comment", :locals => {:comment => comment}

  - if current_user && can?( :create, Comment)
    %li.row
      .user-avatar.col-lg-2
        - if current_user.avatar_file_name
          %img{src: current_user.avatar.url(:small)}
        - else
          = image_tag 'no-avatar.jpg'
      .content-form.col-lg-10
        = form_for [post, post.comments.new], html: {:remote => true, :'data-type' => 'json'} do |f|
          %p 
            = f.text_area :body, :rows => '3', :style => 'width: 100%;', :class => 'tinymce'
          %p 
            = f.submit "Post comment", class: "btn btn-primary"
  - else
    %li.row
      %p 
        Please 
        %a{:href => new_user_session_path} login
        to post the comment