%h1 Listing match_photos

- @match_photos.each do |match_photo|
  .match-photo
    %p Match: #{link_to @match_photo.match.name, @match_photo.match}

    %img.img-responsive{:src => @match_photo.image.url}

    - if can? :update, match_photo
      = link_to 'Show', match_photo
      = link_to 'Edit', edit_match_photo_path(match_photo)
      = link_to 'Destroy', match_photo, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

- if can? :create, MatchPhoto
  = link_to 'New Match photo', new_match_photo_path
