= bootstrap_form_for @tournament do |f|

  = f.text_field :name, :autofocus => true 
  
  = f.text_area :short_description, :class => 'tinymce', :rows => 3
  
  = f.text_area :description, :class => 'tinymce'
  
  = f.text_field :start_time
  
  = f.text_field :end_time

  = f.select :team_ids, (Team.all.map { |e| [e.name, e.id] }), {}, :multiple => true, :data => { :placeholder => 'Select Team' }

  .actions
    = f.submit 'Save'

= tinymce