.tournament
  .row
    %h2 
      #{@tournament.name}
      %small From #{@tournament.start_time.strftime("%B %d, %Y")} to #{@tournament.end_time.strftime("%B %d, %Y")}

    .nav-wrap
      %ul.nav.nav-pills.lev2.items3
        %li.menu-2-matches.first
          %a{:href => matches_path(:tournament_id => @tournament.id), :title => "Matches"}
            %span Matches
            %span.glyphicon.glyphicon-search
        %li.menu-2-teams
          %a{:href => teams_path(:tournament_id => @tournament.id), :title => "Teams"}
            %span Teams
            %span.glyphicon.glyphicon-search
        %li.menu-2-standings
          %a{:href => tournament_standings_path(:tournament_id => @tournament.id), :title => "Standings"}
            %span Standings
            %span.glyphicon.glyphicon-search
    
    %br

    .col-md-3
    .col-md-6
      = render :partial => "shared/slide", :locals => {:class_name => "tournament_photos", :images => @tournament.tournament_photos.map { |e| e.image.url(:medium) }}
    .col-md-3

  .row
    .description
      = raw @tournament.description

  - if @tournament.teams.length > 0
    .row
      %h2 Teams:

      - @tournament.teams.each do |team|
        .col-sm-4
          %img.img-responsive{:src => team.try(:main_image).try(:url, :medium)}
            %h2 #{link_to team.name, team}
            .short_description
              = raw team.short_description
    
= link_to 'Add Photos', new_tournament_photo_path(tournament_id: @tournament.id)
\|
= link_to 'Edit', edit_tournament_path(@tournament)
\|
= link_to 'Back', tournaments_path
