.bet-scores-in-match
  %h1.match-name 
    = link_to @match.name, @match

  = render :partial => "matches/bet_scores", :locals => {:match => @match}

  - @bet_scores = @match.bet_scores.by_user(current_user)

  %h1 
    Your Bet Score for this Match: 
    %small #{pluralize(@bet_scores.length, "Bet Score") }
  %table.table.table-striped.table-bordered
    %tr
      %th Match
      %th Score
      %th Money
      %th Created At
      %th Action

    - @bet_scores.each do |bet_score|
      %tr
        %td #{match.name}
        %td #{bet_score.score}
        %td #{number_to_currency(bet_score.money, {precision: 0, unit: "VND "})}
        %td #{(bet_score.created_at.localtime).strftime("%b %d, %Y - %H:%M")}
        %td.action
          - if can? :destroy, bet_score
            %a.delete{href: match_bet_score_path(bet_score.match, bet_score), :data => { :confirm => 'Are you sure to delete this score?', :method => :delete }}
              %i.fa.fa-trash-o
              Destroy
          
  - if @match.can_bet_score
    %div.new-bet-score
      %h1 Create new Bet Score for this match:
      = bootstrap_form_for @bet_score, :url => match_bet_scores_path(@match) do |f|
        .col-md-4.col-sm-4
          = f.text_field :scorea, type: 'number', label: @match.playera.name
        .col-md-4.col-sm-4  
          = f.text_field :scoreb, type: 'number', label: @match.playerb.name
        .col-md-4.col-sm-4
          = f.text_field :money, type: 'number', placeholder: "Money must be 10,000 VND", step: 10000

        .col-md-12.col-sm-12
          = f.text_field :note, type: 'text'

        .actions.col-md-4.col-sm-4
          = f.submit 'Save', class: "btn btn-primary"
          = link_to 'Cancel', match_path(@match), class: "btn btn-danger"
